@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;
<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid" data-content>
        <div class="row">
            <div class="col-12 text-center">
                @FullYear © LAMS By <span class="fw-semibold">Eupac Web Solutions Limited</span> 
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

@code {
    public string FullYear = DateTime.Now.Year.ToString();
}