@inject IJSRuntime JsRuntime;

@if (!string.IsNullOrWhiteSpace(Title))
{
    <div class="page-title-head d-flex align-items-center">
        <div class="flex-grow-1">
            <h4 class="fs-xl fw-bold m-0">@Title</h4>
        </div>

        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript:void(0);">LAMS</a></li>
                @if (!string.IsNullOrWhiteSpace(SubTitle))
                {
                    <li class="breadcrumb-item"><a href="javascript:void(0);">@SubTitle</a></li>
                }
                <li class="breadcrumb-item active">@Title</li>
            </ol>
        </div>
    </div>
}

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? SubTitle { get; set; }
}