@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime;

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="wrapper">

    <Topbar/>
    <Sidenav/>

    <div class="content-page">

        <div class="container-fluid">

            @Body

        </div>

        <Footer/>

    </div>

</div>

@* <Customizer/> *@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("updateHtmlAttributes", "class", "sidebar-with-line");
            // await JsRuntime.InvokeVoidAsync("loadConfig");
            // await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}